<div th:fragment="html_friendTab" class="tab-pane fade h-100" id="friends-tab" role="tabpanel">
    <div class="d-flex flex-column h-100">
        <!-- Tab Header -->
        <div class="tab-header d-flex align-items-center border-bottom">
            <ul class="d-flex justify-content-between align-items-center list-unstyled w-100 mx-4 mb-0">
                <!-- Title -->
                <li>
                    <h3 class="mb-0">Bạn bè</h3>
                </li>
                <!-- Title -->

                <!-- Buttons -->
                <li>
                    <ul class="list-inline">
                        <!-- Menu Button -->
                        <li class="list-inline-item">
                            <button type="button" class="navigation-toggle btn btn-secondary btn-icon d-xl-none">
                                <i class="ri-menu-line"></i>
                            </button>
                        </li>
                        <!-- Menu Button -->
                    </ul>
                </li>
                <!-- Buttons -->
            </ul>
        </div>
        <!-- Tab Header -->

        <!-- Search Input -->
        <div class="m-4">
            <form class="input-group" id="form-search">
                <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Tìm kiếm bạn bè" aria-label="Search friends" aria-describedby="search-friends-button" name="q">
                <button class="btn btn-secondary btn-lg" type="submit" id="search-friends-button"><i class="ri-search-line"></i></button>
            </form>
        </div>
        <!-- Search Input -->

        <!-- Tab Content -->
        <div class="hide-scrollbar h-100">
            <div class="m-4 friend-list">
                <!-- Contact List A -->
                <div>
                    <!-- Letter -->
                    <h5 class="p-2 text-primary">
                        A
                    </h5>
                    <!-- Letter -->

                    <!--  Friends List -->
                    <ul class="list-unstyled">
                        <!-- Chat Link -->
                        <li class="card contact-item">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <!-- Avatar -->
                                    <div class="avatar avatar-online me-4">
                                        <span class="avatar-label bg-soft-primary text-primary">AM</span>
                                    </div>
                                    <!-- Avatar -->

                                    <!-- Content -->
                                    <div class="flex-grow-1 overflow-hidden">
                                        <div class="d-flex align-items-center mb-1">
                                            <h5 class="text-truncate mb-0 me-auto">Ariel Martinez
                                            </h5>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="text-truncate me-auto">Online</div>
                                        </div>
                                    </div>
                                    <!-- Content -->

                                    <!-- Dropdown -->
                                    <div class="dropdown">
                                        <button class="btn btn-icon btn-base btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-fill"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Start chat<i class="ri-message-2-line"></i></a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Edit contact<i class="ri-edit-line"></i></a>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Block user<i class="ri-forbid-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Dropdown -->
                                </div>
                            </div>
                        </li>
                        <!-- Chat Link -->
                    </ul>
                    <!--  Friends List -->
                </div>
                <!-- Contact List A -->

                <!-- Contact List C -->
                <div>
                    <!-- Letter -->
                    <h5 class="p-2 text-primary">
                        C
                    </h5>
                    <!-- Letter -->

                    <!--  Friends List -->
                    <ul class="list-unstyled">
                        <!-- Chat Link -->
                        <li class="card contact-item">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <!-- Avatar -->
                                    <div class="avatar avatar-away me-4">
                                        <span class="avatar-label">CS</span>
                                    </div>
                                    <!-- Avatar -->

                                    <!-- Content -->
                                    <div class="flex-grow-1 overflow-hidden">
                                        <div class="d-flex align-items-center mb-1">
                                            <h5 class="text-truncate mb-0 me-auto">Chris Solomon</h5>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="text-truncate me-auto">Last seen recently</div>
                                        </div>
                                    </div>
                                    <!-- Content -->

                                    <!-- Dropdown -->
                                    <div class="dropdown">
                                        <button class="btn btn-icon btn-base btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-fill"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Start chat<i class="ri-message-2-line"></i></a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Edit contact<i class="ri-edit-line"></i></a>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Block user<i class="ri-forbid-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Dropdown -->
                                </div>
                            </div>
                        </li>
                        <!-- Chat Link -->
                    </ul>
                    <!--  Friends List -->
                </div>
                <!-- Contact List C -->

                <!-- Contact List D -->
                <div>
                    <!-- Letter -->
                    <h5 class="p-2 text-primary">
                        D
                    </h5>
                    <!-- Letter -->

                    <!--  Friends List -->
                    <ul class="list-unstyled">
                        <!-- Chat Link 1 -->
                        <li class="card contact-item mb-3">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <!-- Avatar -->
                                    <div class="avatar avatar-online me-4">
                                        <span class="avatar-label bg-info text-white">DR</span>
                                    </div>
                                    <!-- Avatar -->

                                    <!-- Content -->
                                    <div class="flex-grow-1 overflow-hidden">
                                        <div class="d-flex align-items-center mb-1">
                                            <h5 class="text-truncate mb-0 me-auto">Deborah Redd
                                            </h5>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="text-truncate me-auto">Online</div>
                                        </div>
                                    </div>
                                    <!-- Content -->

                                    <!-- Dropdown -->
                                    <div class="dropdown">
                                        <button class="btn btn-icon btn-base btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-fill"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Start chat<i class="ri-message-2-line"></i></a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Edit contact<i class="ri-edit-line"></i></a>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Block user<i class="ri-forbid-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Dropdown -->
                                </div>
                            </div>
                        </li>
                        <!-- Chat Link 1 -->

                        <!-- Chat Link 2 -->
                        <li class="card contact-item">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <!-- Avatar -->
                                    <div class="avatar me-4">
                                        <span class="avatar-label bg-success text-white">DG</span>
                                    </div>
                                    <!-- Avatar -->

                                    <!-- Content -->
                                    <div class="flex-grow-1 overflow-hidden">
                                        <div class="d-flex align-items-center mb-1">
                                            <h5 class="text-truncate mb-0 me-auto">Donald Graves
                                            </h5>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="text-truncate me-auto">Last seen 4 days ago</div>
                                        </div>
                                    </div>
                                    <!-- Content -->

                                    <!-- Dropdown -->
                                    <div class="dropdown">
                                        <button class="btn btn-icon btn-base btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-fill"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Start chat<i class="ri-message-2-line"></i></a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Edit contact<i class="ri-edit-line"></i></a>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Block user<i class="ri-forbid-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Dropdown -->
                                </div>
                            </div>
                        </li>
                        <!-- Chat Link 2 -->
                    </ul>
                    <!--  Friends List -->
                </div>
                <!-- Contact List D -->

                <!-- Contact List J -->
                <div>
                    <!-- Letter -->
                    <h5 class="p-2 text-primary">
                        J
                    </h5>
                    <!-- Letter -->

                    <!--  Friends List -->
                    <ul class="list-unstyled">
                        <!-- Chat Link 1 -->
                        <li class="card contact-item mb-3">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <!-- Avatar -->
                                    <div class="avatar avatar-busy me-4">
                                        <span class="avatar-label bg-soft-info text-info">JP</span>
                                    </div>
                                    <!-- Avatar -->

                                    <!-- Content -->
                                    <div class="flex-grow-1 overflow-hidden">
                                        <div class="d-flex align-items-center mb-1">
                                            <h5 class="text-truncate mb-0 me-auto">Jerry Prater
                                            </h5>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="text-truncate me-auto">Last seen recently</div>
                                        </div>
                                    </div>
                                    <!-- Content -->

                                    <!-- Dropdown -->
                                    <div class="dropdown">
                                        <button class="btn btn-icon btn-base btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-fill"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Start chat<i class="ri-message-2-line"></i></a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Edit contact<i class="ri-edit-line"></i></a>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Block user<i class="ri-forbid-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Dropdown -->
                                </div>
                            </div>
                        </li>
                        <!-- Chat Link 1 -->

                        <!-- Chat Link 2 -->
                        <li class="card contact-item">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <!-- Avatar -->
                                    <div class="avatar avatar-online me-4">
                                        <span class="avatar-label bg-danger text-white">JS</span>
                                    </div>
                                    <!-- Avatar -->

                                    <!-- Content -->
                                    <div class="flex-grow-1 overflow-hidden">
                                        <div class="d-flex align-items-center mb-1">
                                            <h5 class="text-truncate mb-0 me-auto">Joe Stoner</h5>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="text-truncate me-auto">Online</div>
                                        </div>
                                    </div>
                                    <!-- Content -->

                                    <!-- Dropdown -->
                                    <div class="dropdown">
                                        <button class="btn btn-icon btn-base btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-fill"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Start chat<i class="ri-message-2-line"></i></a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Edit contact<i class="ri-edit-line"></i></a>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Block user<i class="ri-forbid-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Dropdown -->
                                </div>
                            </div>
                        </li>
                        <!-- Chat Link 2 -->
                    </ul>
                    <!--  Friends List -->
                </div>
                <!-- Contact List J -->

                <!-- Contact List K -->
                <div>
                    <!-- Letter -->
                    <h5 class="p-2 text-primary">
                        K
                    </h5>
                    <!-- Letter -->

                    <!--  Friends List -->
                    <ul class="list-unstyled">
                        <!-- Chat Link 1 -->
                        <li class="card contact-item mb-3">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <!-- Avatar -->
                                    <div class="avatar avatar-online me-4">
                                        <span class="avatar-label bg-soft-success text-success">KC</span>
                                    </div>
                                    <!-- Avatar -->

                                    <!-- Content -->
                                    <div class="flex-grow-1 overflow-hidden">
                                        <div class="d-flex align-items-center mb-1">
                                            <h5 class="text-truncate mb-0 me-auto">Katherine Cassidy
                                            </h5>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="text-truncate me-auto">Online</div>
                                        </div>
                                    </div>
                                    <!-- Content -->

                                    <!-- Dropdown -->
                                    <div class="dropdown">
                                        <button class="btn btn-icon btn-base btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-fill"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Start chat<i class="ri-message-2-line"></i></a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Edit contact<i class="ri-edit-line"></i></a>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Block user<i class="ri-forbid-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Dropdown -->
                                </div>
                            </div>
                        </li>
                        <!-- Chat Link 1 -->

                        <!-- Chat Link 2 -->
                        <li class="card contact-item">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <!-- Avatar -->
                                    <div class="avatar me-4">
                                        <span class="avatar-label bg-warning text-white">KS</span>
                                    </div>
                                    <!-- Avatar -->

                                    <!-- Content -->
                                    <div class="flex-grow-1 overflow-hidden">
                                        <div class="d-flex align-items-center mb-1">
                                            <h5 class="text-truncate mb-0 me-auto">Kelly Smith</h5>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="text-truncate me-auto">Last seen long time ago</div>
                                        </div>
                                    </div>
                                    <!-- Content -->

                                    <!-- Dropdown -->
                                    <div class="dropdown">
                                        <button class="btn btn-icon btn-base btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-fill"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Start chat<i class="ri-message-2-line"></i></a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Edit contact<i class="ri-edit-line"></i></a>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Block user<i class="ri-forbid-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Dropdown -->
                                </div>
                            </div>
                        </li>
                        <!-- Chat Link 2 -->
                    </ul>
                    <!--  Friends List -->
                </div>
                <!-- Contact List K -->

                <!-- Contact List M -->
                <div>
                    <!-- Letter -->
                    <h5 class="p-2 text-primary">
                        M
                    </h5>
                    <!-- Letter -->

                    <!--  Friends List -->
                    <ul class="list-unstyled mb-1">
                        <!-- Chat Link -->
                        <li class="card contact-item">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <!-- Avatar -->
                                    <div class="avatar me-4">
                                        <span class="avatar-label bg-primary text-white">MC</span>
                                    </div>
                                    <!-- Avatar -->

                                    <!-- Content -->
                                    <div class="flex-grow-1 overflow-hidden">
                                        <div class="d-flex align-items-center mb-1">
                                            <h5 class="text-truncate mb-0 me-auto">Maurice Coleman
                                            </h5>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="text-truncate me-auto">Last seen 2 mounth ago</div>
                                        </div>
                                    </div>
                                    <!-- Content -->

                                    <!-- Dropdown -->
                                    <div class="dropdown">
                                        <button class="btn btn-icon btn-base btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-fill"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Nhắn tin<i class="ri-message-2-line"></i></a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Chỉnh sửa biệt danh<i class="ri-edit-line"></i></a>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">Chặn<i class="ri-forbid-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Dropdown -->
                                </div>
                            </div>
                        </li>
                        <!-- Chat Link -->
                    </ul>
                    <!--  Friends List -->
                </div>
                <!-- Contact List M -->
            </div>
        </div>
        <!-- Tab Content -->

        <!-- Invite Footer -->
        <div class="invite-footer border-top p-4">
            <button class="btn btn-lg btn-primary w-100" data-bs-toggle="modal" data-bs-target="#modal-invite">Mời bạn bè</button>
        </div>
        <!-- Invite Footer -->
    </div>
</div>