<div th:fragment="html_navigation" class="navigation navbar border-end h-100 py-6">
            <!-- Logo -->
            <a class="logo d-none d-xl-block mb-6" href="#">
                <img src="./assets/img/logo.png" alt="">
            </a>
            <!-- Logo -->

            <!-- Nav -->
            <ul class="nav nav-pills" role="tablist">
                <!-- Create chat -->
                <li class="nav-item mt-xl-auto mb-5" role="presentation">
                    <a class="nav-link" data-bs-toggle="pill" href="#create-chat-tab" role="tab" aria-selected="false" title="Tạo cuộc trò chuyện">
                        <i class="ri-quill-pen-line"></i>
                    </a>
                </li>
                <!-- Create chat -->

                <!-- Friends -->
                <li class="nav-item mb-5" role="presentation">
                    <a class="nav-link" data-bs-toggle="pill" href="#friends-tab" role="tab" aria-selected="false" title="Bạn bè">
                        <i class="ri-group-line"></i>
                    </a>
                </li>
                <!-- Friends -->

                <!-- Chats -->
                <li class="nav-item mb-5" role="presentation">
                    <a class="nav-link active" data-bs-toggle="pill" href="#chats-tab" role="tab" aria-selected="true" title="Trò chuyện">
                        <i class="ri-chat-3-line"></i>
                    </a>
                </li>
                <!-- Chats -->

                <!-- Notifications -->
                <li class="nav-item mb-5" role="presentation">
                    <a class="nav-link" data-bs-toggle="pill" href="#notifications-tab" role="tab" aria-selected="false" title="Thông báo">
                        <i class="ri-notification-3-line"></i>
                    </a>
                </li>
                <!-- Notifications -->

                <!-- Settings -->
                <li class="nav-item mb-5" role="presentation">
                    <a class="nav-link" data-bs-toggle="pill" href="#settings-tab" role="tab" aria-selected="false" title="Cài đặt">
                        <i class="ri-settings-4-line"></i>
                    </a>
                </li>
                <!-- Settings -->

                <!-- Avatar -->
                <li class="nav-item mt-xl-auto mb-5" role="presentation">
                    <a class="text-decoration-none" href="#" data-bs-toggle="modal" data-bs-target="#modal-account" title="Account">
                        <div class="avatar avatar-online avatar-sm">
                            <span class="avatar-label bg-soft-success text-success fs-6">LL</span>
                        </div>
                    </a>
                </li>
                <!-- Avatar -->
            </ul>
            <!-- Nav -->
        </div>